@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.chat-area, .home {
  margin-top: 60px;
}

.imageback{
  background-image: url("image5.png");
  position: static;
  border:#757575;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  min-height: 100%;

}

.chat-area {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  border-bottom:1cm;
}

.chat-area .chat-bubble {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #ffffff;
  color: black;
  font-weight: 'bold';
}

.form-control {
  width: 60%;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-submit {
  background-color: #880d0d;
  color: white;
}

.bg-uchicago{
  background-color: #880d0d;
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.chat{
  border-bottom: 1cm;
  border-color: blue;
}
.jumbotron{
  background-color: transparent;
  opacity: 1;
  color: black;
  text-shadow: 2px 4px 4px rgba(255,255,255,0.6);
}

.py-6{
  color: black;
  max-width: 100%;
  text-emphasis-color: black;

}

.text-info{
  color: black;
  text-shadow: rgba(255,255,255,0.6)
}

.title{
  color:#880d0d;
}

.btn-primary{
  color:white;
  background-color: #880d0d;
}

.btn-danger{
  color:white;
  background-color:#880d0d;
}
@media screen and (max-width: 100%) {
  .form-control {
    width: 100%;
    margin: collapse;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}

